html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  text-align: center;
  color: #fff;
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  font-family: Bevan, serif;
  margin: .3em .3em auto;
}

body {
  margin: 0;
  padding: 0;
}

.planets {
  text-align: center;
  list-style-type: none;
  margin: auto;
}

.planets li {
  display: inline-block;
  text-align: left;
  margin: .3em auto;
}

.planets a {
  text-align: center;
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.planets a:hover {
  background-color: #f33;
  color: #fff;
}
